
/* This describes the main parts of my code like body, header, footer, etc*/
body{
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 30px;
}

header{
    background-color: #172e44;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

footer{
    background-color: #172e44;
    text-align: center;
    color: white;
    padding: 7px;
}

main{
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 20px;
}

main p{
    padding: 20px 20px;
}

main p2{
    padding: 20px 5px;
}

/* Some style information about my headers*/
h1, h2{
    font-family: 'Raleway', sans-serif;
    padding-bottom: 20px;
    font-weight: bolder;
    font-size: 50px;
}

header h1{
    color: white;
    font-size: 50px;
    padding-top: 10px;
}

header img{
    border-radius: 170px;
    width: 300px;
    border: 3px solid white;
}

h2{
    font-size: 35px;
    color: rgb(0, 0, 0);
    margin: 40px 0 10px;
    padding-bottom: 5px;
}

h3{
    font-size: 30px;
    color: rgb(0, 0, 0);
    margin: 40px 0 10px;
    padding-left: 20px;
}

/* Style information about my footer */
footer p{
    font-size: 17px;
    margin: 0px;
}

footer a{
    color: white;
}

footer a:hover{
    color: black;
    background-color: transparent;
}

/* Style information for my links*/
a{
    color: rgb(105, 104, 104);
}

a:hover{
    color: #172e44;
    background-color: white;
}

/* Style guides that cover my tabs at the top of the page */
*{
    padding: 0;
    margin: 0;   
}

.hero{
    width: 90%;
    height: 2000px;
    position: relative;
    margin: 0px auto;
    overflow: hidden;  
}

.btn-box{
display: flex;
border-bottom: 1px solid #172e44;
}

.btn-box button{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    margin-right: 60px;
    font-size: 25px;
    font-weight: bold;
}

.btn-box .fas{
    margin-right: 5px;
}

.btn-box button:hover .fas{
    color: #172e44;
}

.btn-box .far{
    margin-right: 5px;
}

.btn-box button:hover .far{
    color: #172e44;
}

.content{
    justify-content: center;
    align-items: center;
    margin: 2% auto;
    position: absolute;
    transform: translateX(100%);
    transition: 0.3s;
}

#content1{
    transform: translateX(0px);
}

#btn1{
    color: #172e44;
}

/* This covers style stuff for photo captions */
p.caption{
    color: grey;
    font-style: italic;
    margin-top: 0px;
}

/* This covers image sizes for the screen */
main img{
    max-width: 90%;
}

/* This is to make images rounder with less harsh edges*/
.rounded{
    border-radius: 7%;
    align-items: center;
    width: 70%;
    height: 70%;
  
}

.round{
    border-radius: 12%;
    align-items: center;
    width: 70%;
    height: 70%;
  
}

/* This describes how things are placed within the page on the center left or right */
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: auto;
    width: auto;
    align-items: center;
    
}

#left {
    position: relative;
    width: 50%;
    float: left;
    height: 2000px;
    z-index: 1010101010
}
  
#right {
    position: relative;
    width: 50%;
    float: left;
    height: 2000px;
    z-index: 1010101010
}

#bigleft {
    position: relative;
    width: 66%;
    float: left;
    height: 300px;
    z-index: 1010101010
}

#smallright {
    position: relative;
    width: 34%;
    float: left;
    height: 275px;
    z-index: 1010101010;
    margin-top: 25px;
}


#center{
    text-align: center;
    align-items: center;
}

#leftpart {
    position: relative;
    width: 50%;
    float: left;
    height: 750px;
    z-index: 1010101010
}
  
#rightpart {
    position: relative;
    width: 50%;
    float: left;
    height: 750px;
    z-index: 1010101010;

}

#leftthird {
    position: relative;
    width: 50%;
    float: left;
    height: 550px;
    z-index: 1010101010;
    }
      
#rightthird {
    position: relative;
    width: 50%;
    float: left;
    height: 430px;
    z-index: 1010101010;
    margin-top: 120px;
    }



#leftchunk {
    position: relative;
    width: 33%;
    float: left;
    height: 450px;
    z-index: 1010101010;
    padding-top: 50px;
    }
          
#centerchunk {
    position: relative;
    width: 33%;
    float: left;
    height: 450px;
    z-index: 1010101010;
    padding-top: 50px;
    }

#rightchunk {
    position: relative;
    width: 33%;    
    float: left;
    height: 450px;    
    z-index: 1010101010;
    padding-top: 50px;
    }
    
.tall{
    height: 450px;    
    }

.taller{
    height: 375px;    
    }

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #274866;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #172e44;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #dddddd;
    padding: 20px;
  }